@import '~styles/variables';

.alert {
  $fade-duration: 100ms;
  $height-duration: 100ms;

  > *:first-child:not(:global(.close)) {
    margin-top: 0;
  }

  > *:last-child:not(:global(.close)) {
    margin-bottom: 0;
  }

  &:global(.slide-down-enter) {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-width: 0;
    opacity: 0;

    &:global(.slide-down-enter-active) {
      transition: opacity $fade-duration ease $height-duration, max-height $height-duration ease, padding $height-duration ease, max-height $height-duration ease, border-width $height-duration ease;
      max-height: 100px;
      padding-top: $alert-padding-y;
      padding-bottom: $alert-padding-y;
      border-width: 1px;
      opacity: 1;
    }
  }

  &:global(.slide-down-leave) {
    max-height: 100px;
    padding-top: $alert-padding-y;
    padding-bottom: $alert-padding-y;
    border-width: 1px;
    opacity: 1;

    &:global(.slide-down-leave-active) {
      max-height: 0;
      padding-top: 0;
      padding-bottom: 0;
      border-width: 0;
      opacity: 0;
      transition: opacity $fade-duration ease, max-height $height-duration ease $fade-duration, padding $height-duration ease $fade-duration, max-height $height-duration ease $fade-duration, border-width $height-duration ease $fade-duration;
    }
  }
}

.close {

}
